{% extends 'partials/main.html' %}

{% load static %}

{% block content %}

   <body style="background-color: white;">
      <!--header section start -->
      <nav class="navbar navbar-expand-lg ">
         <div class="container-fluid">
           <a class="navbar-brand text-warning fs-2 osuc" href="{% url 'index' %}">Shoes House</a>
           <button class="navbar-toggler bg-warning "  type="button"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list text-dark fs-5"></i>
           </button>
           <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <!-- Categories 
            <button onclick="openModal()" class="d-flex justify-content-center align-items-center underline-container ms-lg-2" data-bs-toggle="modal" data-bs-target="#categoriesModal" style="background-color: white;" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-grid fs-4 text-dark me-2 ms-2"></i>
                  <div class="p-0 m-0 category fs-5">Categories</div>
            </button>
            <div id="myModal" class="modal">
               <div class="modal-content">
                  <span class="close-btn fs-2 text-end  mb-1" onclick="closeModal()">
                     <i class="bi bi-x-circle "></i>
                  </span>
                  <div class="container-fluid">
                     <div class="row text-center">
                         <a href="{% url 'myorder' %}" class="h3 categoryHover">MyOrder</a>
                        <a href="{% url 'user_update' %}" class="h3 categoryHover">Profile</a>
                        <h3>Favorite</h3>
                     </div>
                  </div>
               </div>
            </div>-->
              <!-- Cart -->
             <ul class="navbar-nav ms-auto mb-2  mb-lg-0 order-lg-1">
               <li class="nav-item mt-auto">
                  <div class="nav-link  pb-0">
                     <a href="{% url 'myorder' %}" class=" d-flex justify-content-start align-items-center text-center nav-itemS ">
                         <i class="bi bi-archive fs-4 me-2"></i>
                         <div class="fs-5">MyOrder</div>
                     </a>
                  </div>
               </li>
               <li class="nav-item mt-auto">
                <div class="nav-link  pb-0">
                   <a  href="{% url 'cart' request.user.id %}" class=" d-flex justify-content-start align-items-center text-center nav-itemS ">
                      <i class="bi bi-cart3 fs-4 me-2 "></i>
                      <div class="fs-5">Cart</div>
                   </a>
                </div>
             </li>
                <!-- User -->
               <li class="nav-item my-auto">
                  <div class="nav-link  mt-0 pb-0" onclick="openModal()">
                     <a  href="{% url 'user_update' %}" class="d-flex justify-content-start align-items-center text-center nav-itemS ">
                        <i class="bi bi-person-circle fs-4 me-2"></i>
                        <div class="fs-5">{{request.user.username}}</div>
                     </a>
                  </div>
               </li>
             </ul>
       
             <!-- Search -->
             <div class="w-100 position-relative dropdown ms-lg-3 me-lg-4  ">
               <form id="searchId" class="d-flex w-100 border rounded-5 shadow-lg searchId" role="search">
                 {% csrf_token %}
                 <i class="bi bi-search p-1 fs-4 mx-2"></i>
                 <input class="me-2 border-0 rounded-5 w-100" autocomplete="off" name="q" id="searchInput" type="search" placeholder="Search" oninput="getSearchResults()" aria-label="Search">
               </form>
               <ul id="searchResults"class=" rounded-bottom-3 p-0 visually-hidden-focusable position-absolute top-0 start-0 bg-light z-3  border border-warning SearchResults mt-5 " >
               </ul>
             </div>
           </div>
         </div>
       </nav>
       <div class="d-flex justify-content-center border align-items-center mb-0 ">
         {% for all_category in all_categories %}
            <a href="{% url 'gallery_by_category' all_category.slug %}" class="h3 text-center ms-4 mb-0 p-2 categoryHover">{{all_category.title}}</a>
         {% endfor %}
      </div>
      <!--header section end -->
      <!--gallery section start -->
      <div class=" ">
         <div class="container-md" style="height: 400px;">
            <div class="gallery_section_2 py-5">
            <div class="row pb-5">
                  <div class="col-12 col-lg-7 d-flex align-items-center justify-content-between  m-0 p-0">
                        <div class="container-fluid m-0 p-0">
                           <div class="row m-0 p-0" >
                                 <div id="ShoesC" class="col-12 pt-2 mb-5 ">
                                       {% for sho in shoe %}
                                          <div class="d-flex align-items-center justify-content-between border mb-4 position-relative shadow-lg">
                                                <div class="">
                                                   <a href="{% url 'product' sho.shoe_info.id  %}" class="text-light pe-2">
                                                      <img src="{{sho.shoe_info.image.url}}" style="width: 170px; height: 170px;" alt="">
                                                   </a>
                                                </div>
                                                <div>
                                                   <p class="my-0 ">Name</p>
                                                   <p class="fw-bolder  fs-5">{{sho.shoe_info.name}}</p>
                                                   
                                                </div>
                                                <div class="me-3 ">
                                                   <p class="m-0">Number</p>
                                                   <h5>{{sho.product.number}}</h5>
                                                </div>
                                                <a href="{% url 'cart-delete' sho.product.id  %}" class="position-absolute top-0 end-0"><button class="position-absolute top-0 end-0 btn btn-outline-danger border-2  rounded-circle rounded-top-0 rounded-end-0 p-2"><i class="bi bi-x-octagon"></i></button></a>
                                                <div class="position-absolute bottom-0 start-50  text-warning  border border-warning rounded-top-3 px-1">{{sho.shoe_info.price}}TL</div>
                                             </div>
                                          
                                       {% endfor %}
                                       
                                 </div>
                           </div>
                        </div>
                     
                  </div>
                  <div class="col-12  col-lg-5 d-flex  justify-content-between ">
                     <div class="container">
                        <div class="row p-3 pt-0" >
                              <div id="ShoesC" class="col-12 pt-2 mt-2 mb-5 border border-dark  shadow-lg">
                                 <h5 class="ms-1 ">Your Bag</h5>
                                 <div>
                                    <samp >{{ shoe|length }} product</samp>
                                 </div>
                                 <div>
                                    <samp>Total Product Cost: <samp class="text-danger">{{total_price}}TL</samp> </samp>

                                 </div>
                                 <div>
                                    <samp>Total Delivery Cost: <samp class="text-danger">{{Delivery_Cost}}TL</samp></samp>
                                 </div>
                                 <hr>
                                 <div class="mb-2">
                                    <strong >Total : <samp class="text-success ">{{Total}}TL</samp></strong>
                                 </div>
                              </div>
                              {% if Total != 0 %}
                                 <a href="{% url 'payment-information' user_id=request.user.id %}?total={{ Total }}" class="btn p-2 border btn btn-light">
                                    VIEW BAG
                                 </a>
                              {% endif %}
                        </div>
                     </div>
                  
               </div>
            </div>
            
            </div>
         </div>
      </div>
      <!--gallery section end -->

      
      <script>
         const currentURL = window.location.pathname; // Mevcut sayfanın URL'sini alın
     
         document.querySelectorAll("#ShoesC a").forEach(link => {
             const productURL = link.getAttribute("href"); // Ürünün URL'sini alın

             if (currentURL === productURL) {
                 link.querySelector("img").style.border = "solid 3px black";
                 link.querySelector("img").style.borderRadius = "5px";
             }
         });
     </script>
     
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      {% endblock %}
      