{% extends 'partials/main.html' %}

{% load static %}

{% block content %}
<style>
    .carousel-inner-wrapper {
            overflow-x: auto;
            white-space: nowrap; /* Yatay kaydırma için gerekli */
        }

        .carousel-control-prev,
        .carousel-control-next {
            color: black; /* Button rengi */
        }
</style>
      <!--header section start -->
      <div class="s">
      <nav class="navbar navbar-expand-lg ">
         <div class="container-fluid">
           <a class="navbar-brand text-warning fs-2 osuc" href="{% url 'index' %}">Shoes House</a>
           <button class="navbar-toggler bg-warning "  type="button"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list text-dark fs-5"></i>
           </button>
           <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <!-- Categories 
            <button onclick="openModal()" class="d-flex justify-content-center align-items-center underline-container ms-lg-2" data-bs-toggle="modal" data-bs-target="#categoriesModal" style="background-color: white;" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-grid fs-4 text-dark me-2 ms-2"></i>
                  <div class="p-0 m-0 category fs-5">Categories</div>
            </button>
            <div id="myModal" class="modal">
               <div class="modal-content">
                  <span class="close-btn fs-2 text-end  mb-1" onclick="closeModal()">
                     <i class="bi bi-x-circle "></i>
                  </span>
                  <div class="container-fluid">
                     <div class="row text-center">
                         <a href="{% url 'myorder' %}" class="h3 categoryHover">MyOrder</a>
                        <a href="{% url 'user_update' %}" class="h3 categoryHover">Profile</a>
                        <h3>Favorite</h3>
                     </div>
                  </div>
               </div>
            </div>-->
              <!-- Cart -->
             <ul class="navbar-nav ms-auto mb-2  mb-lg-0 order-lg-1">
               <li class="nav-item mt-auto">
                  <div class="nav-link  pb-0">
                     <a href="{% url 'myorder' %}" class=" d-flex justify-content-start align-items-center text-center nav-itemS ">
                         <i class="bi bi-archive fs-4 me-2"></i>
                         <div class="fs-5">MyOrder</div>
                     </a>
                  </div>
               </li>
               <li class="nav-item mt-auto">
                <div class="nav-link  pb-0">
                  <a href="{% url 'cart' user.id|default_if_none:"0" %}" class="d-flex justify-content-start align-items-center text-center nav-itemS">
                     <i class="bi bi-cart3 fs-4 me-2"></i>
                     <div class="fs-5">Cart</div>
                 </a>
                 
                </div>
             </li>
                <!-- User -->
               <li class="nav-item my-auto">
                  <div class="nav-link  mt-0 pb-0" onclick="openModal()">
                     {% if request.user.is_authenticated %}
                        <a href="{% url 'user_update' %}" class="d-flex justify-content-start align-items-center text-center nav-itemS">
                           <i class="bi bi-person-circle fs-4 me-2"></i>
                           <div class="fs-5">{{ request.user.username }}</div>
                        </a>
                     {% else %}
                        <a href="{% url 'login' %}" class="d-flex justify-content-start align-items-center text-center nav-itemS">
                           <i class="bi bi-box-arrow-in-right fs-4 me-2"></i>
                           <div class="fs-5">Login</div>
                        </a>
                     {% endif %}

                  </div>
               </li>
             </ul>
       
             <!-- Search -->
             <div class="w-100 position-relative dropdown ms-lg-3 me-lg-4  ">
               <form id="searchId" class="d-flex w-100 border rounded-5 shadow-lg searchId" role="search">
                 {% csrf_token %}
                 <i class="bi bi-search p-1 fs-4 mx-2"></i>
                 <input class="me-2 border-0 rounded-5 w-100" autocomplete="off" name="q" id="searchInput" type="search" placeholder="Search" oninput="getSearchResults()" aria-label="Search">
               </form>
               <ul id="searchResults"class=" rounded-bottom-3 p-0 visually-hidden-focusable position-absolute top-0 start-0 bg-light z-3  border border-warning SearchResults mt-5 " >
               </ul>
             </div>
           </div>
         </div>
       </nav>
         <div class="d-flex justify-content-center border align-items-center  ">
         {% for all_category in all_categories %}
            <a href="{% url 'gallery_by_category' all_category.slug %}" class="h3 text-center ms-4 mb-0 p-2 categoryHover">{{all_category.title}}</a>
         {% endfor %}
         </div>
      </div>
      <!--header section end -->
      <!--about section start -->
      <div class="about_section layout_padding bg-dark text-light mt-5 pb-5">
         <div class="container">
             <div class="row">
                 <div class="col-12"><h1>Top Viewed Shoes</h1></div>
                 <div class="container">
                     <div class="row">
                         <div class="carousel-inner-wrapper">
                             <div id="shoesCarousel" class="carousel slide" data-ride="carousel">
                                 <div class="carousel-inner">
                                     {% for shoe in top_shoes %}
                                         {% if forloop.counter0|divisibleby:3 %}
                                             <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                 <div class="row">
                                         {% endif %}
                                                     <a href="{% url 'product' shoe.id %}" class="col-md-4 px-3 position-relative text-light">
                                                         <img src="{{ shoe.image.url }}" class="d-block w-100" style="height: 500px;" alt="">
                                                         <div class="h5 pt-2">{{ shoe.name }}</div>
                                                         <div class="position-absolute top-0 start-25  bg-danger p-2 text-light rounded-bottom rounded-right"><i class="bi bi-eye-fill ms-2"></i> {{ shoe.reviewsCount }}</div>
                                                     </a>
                                          {% if forloop.counter|divisibleby:3 or forloop.last %}
                                                 </div>
                                             </div>
                                         {% endif %}
                                     {% endfor %}
                                 </div>
                                 <a class="carousel-control-prev text-dark " href="#shoesCarousel" role="button" data-slide="prev">
                                     <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                                     <span class="sr-only">Previous</span>
                                 </a>
                                 <a class="carousel-control-next text-dark" href="#shoesCarousel" role="button" data-slide="next">
                                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                     <span class="sr-only">Next</span>
                                 </a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
      <!--about section end -->
      <!--gallery section start -->
      <div class="border-bottom pb-5 mt-5" style="background-color: bisque;">
         <div class="container">
            <div class="row">
                <div class="col-12 pt-5 mb-2"><h1>Categories</h1></div>
                <div class="container">
                    <div class="row pb-4">
                        <div class="col-4">
                           <a href="/shoes/categories/erkek" class="position-relative">
                              <img src="media/images/erkek.jpg" class="d-block w-100  rounded-2" style="height: 500px;" alt="">
                              <div class="position-absolute bottom-0 end-0 btn btn-outline-light me-3 mb-3">Erkek</div>
                           </a>
                        </div>
                        <a href="/shoes/categories/kadin" class="col-4">
                           <div class="position-relative">
                              <img src="media/images/kadin.jpg" class="d-block w-100  rounded-2" style="height: 500px;" alt="">
                              <div class="position-absolute bottom-0 end-0 btn btn-outline-light me-3 mb-3">Kadin</div>
                           </div>
                        </a>
                        <a href="/shoes/categories/cocuk" class="col-4">
                           <div class="position-relative ">
                              <img src="media/images/cocuk.jpg" class="d-block w-100 rounded-2" style="height: 500px;" alt="">
                              <div class="position-absolute bottom-0 end-0 btn btn-outline-light me-3 mb-3">Cocuk</div>
                           </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!--gallery section end -->

      <!--client section start -->
      <div class="client_section layout_padding">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

               <div class="">
                  <h1 class="text-center">Musteri Mesajlari</h1>
                  <p class="text-center">En son atilan mesajlar</p>
               </div>
              {% for comment in comments %}
               <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <div class="container">
                     
                     <div class="client_section_2">
                           <div class="container">
                              <div class="client_main">
                                 <div class="client_left">
                                       <div class="client_img"><img src="{{ comment.user.userprofile.image.url }} " class="rounded-2" style="width: 100px; height: 100px;" ></div>
                                 </div>
                                 <div class="client_right">
                                       <h2 class="sandy_text">Isim : {{ comment.user }}</h2>
                                       <p class="long_text">Baslik : {{ comment.subject }}</p>
                                 </div>
                              </div>
                              <p class="dummy_text">Mesaj : {{ comment.comment }}</p>
                           </div>
                     </div>
                  </div>
               </div>
               {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class=""><img src="{% static 'images/left-arrow.png' %}"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class=""><img src="{% static 'images/right-arrow.png' %}"></i>
            </a>
         </div>
      </div>
      <!--client section end -->
      <!--contact section start -->
      <div class="contact_section layout_padding" style="background-color: rgb(161, 138, 108);">
         <div class="container">
            <h1 class="touch_taital">Get In Touch</h1>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="">
                        {% if messages %}
                           {% for message in messages %}
                              <div class="alert alert-{{message.tags}}" role="alert">
                                 {{ message }}
                              </div>
                           {% endfor %}
                        {% endif %}
                     </div>
                     <form action="" method="post">
                        {% csrf_token %}
                        <div class="email_text">
                           <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Name" name="Name">
                           </div>
                           <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Email" name="Email">
                           </div>
                           <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Phone Numbar" name="Phone">
                           </div>
                           <div class="form-group">
                              <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                           </div>
                           <div class=""><input type="submit" class="btn btn-warning"></div>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-6">
                     <div class="map_main">
                        <div class="map-responsive">
                           <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="370" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--contact section end -->
      <script>
         $(document).ready(function(){
          var nav = $('.s');
          var navHeight = nav.outerHeight();
          var lastScrollTop = 0;
      
          $(window).scroll(function(){
              var scrollTop = $(this).scrollTop();
      
              if (scrollTop > lastScrollTop && scrollTop > navHeight){
                  // Scroll down
                  nav.removeClass('fixed-top bg-light');
              } else {
                  // Scroll up
                  if (scrollTop + $(window).height() < $(document).height()) {
                      nav.addClass('fixed-top bg-light');
                  }
              }
              lastScrollTop = scrollTop;
          });
      });
      </script>

{% endblock %}

