{% extends 'partials/main.html' %}

{% load static %}

{% block content %}
   <body>
      <!--header section start -->
      <div class="header_section">
         <div class="container-fluid">
            <div class="header_main">
               <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a></div>
               <div class="number_text">No<br><span style="color: #fff;">01</span></div>
               <div class="search_icon"><a href="{% url 'index' %}"><img src="{% static 'images/search-icon.png' %}"></a></div>
            </div>
            <div class="menu_main">
               <div class="togle_main"><a class="class=" openbtn="" onclick="openNav()"><img src="{% static 'images/toggle-icon.png' %}" style="max-width: 100%;"></a></div>
               <div id="mySidebar" class="sidebar">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
                  <a href="{% url 'index' %}">Home</a>
                  <a href="{% url 'about' %}">About</a>
                  <a href="{% url 'gallery' %}">Gallery</a>
                  <a href="{% url 'news' %}">News</a>
                  <a href="{% url 'testimonial' %}">Testimonial</a>
                  <a href="{% url 'contact' %}">Contact</a>
               </div>
            </div>
         </div>
         <div class="banner_section">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <h1 class="banner_taital">Genuine <br>Shoes online Shopping</h1>
                        <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <h1 class="banner_taital">Genuine <br>Shoes online Shopping</h1>
                        <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <h1 class="banner_taital">Genuine <br>Shoes online Shopping</h1>
                        <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--header section end -->
      <!--news section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="news_taital">Best Quality</h1>
            <p class="news_text">It is a long established fact that a reader will be distracted by the readable content</p>
            <div class="news_section_2 layout_padding">
               <div class="row">
                  <div class="col-lg-4 col-sm-12">
                     <div><img src="{% static 'images/img-6.png' %}"class="image_6"></div>
                     <h1 class="shoes_taital_1">Established fact that a reader will be</h1>
                     <p class="ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it </p>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                     <div><img src="{% static 'images/img-7.png' %}"class="image_7"></div>
                     <h1 class="shoes_taital_1">Established fact that a reader will be</h1>
                     <p class="ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it </p>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                     <div><img src="{% static 'images/img-8.png' %}"class="image_6"></div>
                     <h1 class="shoes_taital_1">Established fact that a reader will be</h1>
                     <p class="ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it </p>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--news section end -->
      <!--footer section start -->
      <div class="footer_section layout_padding margin_top_90">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h4 class="link_text">Useful link</h4>
                  <p class="footer_text">It is a long established fact that a reader will be distracted by the readable  </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h4 class="link_text">Features Itams</h4>
                  <p class="footer_text">It is a long established fact that a reader will be distracted by the readable  </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h4 class="link_text">Instagram</h4>
                  <p class="footer_text_1"><img src="{% static 'images/icon-1.png' %}"><span class="padding_left_10">It is a long estab</span></p>
                  <p class="footer_text_1"><img src="{% static 'images/icon-1.png' %}"><span class="padding_left_10">It is a long estab</span></p>
                  <p class="footer_text_1"><img src="{% static 'images/icon-1.png' %}"><span class="padding_left_10">It is a long estab</span></p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h4 class="link_text">Contact Us</h4>
                  <p class="footer_text">It is a long established fact that a reader will be distracted by the readable  </p>
               </div>
            </div>
         </div>
      </div>
      <!--footer section end -->
      <!--copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">Copyright 2023 All Right Reserved By <a href="https://html.design">Free Html Templates</a></p>
         </div>
      </div>
      <!--copyright section end -->
      {% endblock %}