{% extends 'partials/main.html' %}
{% load static %}
{% block content %}
<body>
       <nav class="navbar navbar-expand-lg ">
         <div class="container-fluid">
           <a class="navbar-brand text-warning fs-2 osuc" href="{% url 'index' %}">Shoes House</a>
           <button class="navbar-toggler bg-warning "  type="button"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list text-dark fs-5"></i>
           </button>
           <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <!-- Categories -->
            <button onclick="openModal()" class="d-flex justify-content-center align-items-center underline-container ms-lg-2" data-bs-toggle="modal" data-bs-target="#categoriesModal" style="background-color: white;" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-grid fs-4 text-dark me-2 ms-2"></i>
                  <div class="p-0 m-0 category fs-5">Categories</div>
            </button>
            <div id="myModal" class="modal">
               <div class="modal-content">
                  <span class="close-btn fs-2 text-end  mb-1" onclick="closeModal()">
                     <i class="bi bi-x-circle "></i>
                  </span>
                  <div class="container-fluid">
                     <div class="row text-center">
                        
                        {% for category in categories %}
                           <div class="col-12">
                              <a href="{% url 'gallery_by_category' category.slug %}" class="text-start text-dark py-3 border-bottom m-0 d-flex justify-content-between align-items-center my-1 icons Cnames"><p class="Cnames fs-2 m-0 p-0">{{category.name}}</p> <i class=" bi bi-caret-right fs-3"></i></a>
                           </div>
               
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
              <!-- Cart -->
             <ul class="navbar-nav ms-auto mb-2  mb-lg-0 order-lg-1">
               <li class="nav-item mt-auto">
                  <div class="nav-link  pb-0">
                     <a  href="{% url 'cart' request.user.id %}" class=" d-flex justify-content-start align-items-center text-center nav-itemS ">
                        <i class="bi bi-cart3 fs-4 me-2 "></i>
                        <div class="fs-5">Cart</div>
                     </a>
                  </div>
               </li>
                <!-- User -->
               <li class="nav-item my-auto">
                  <div class="nav-link  mt-0 pb-0">
                     <a  href="#" class="d-flex justify-content-start align-items-center text-center nav-itemS ">
                        <i class="bi bi-person-circle fs-4 me-2"></i>
                        <div class="fs-5">{{request.user.username}}</div>
                     </a>
                  </div>
               </li>
             </ul>
       
             <!-- Search -->
             <div class="w-100 position-relative dropdown ms-lg-3 me-lg-4  ">
               <form id="searchId" class="d-flex w-100 border rounded-5 shadow-lg searchId" role="search">
                 {% csrf_token %}
                 <i class="bi bi-search p-1 fs-4 mx-2"></i>
                 <input class="me-2 border-0 rounded-5 w-100" autocomplete="off" name="q" id="searchInput" type="search" placeholder="Search" oninput="getSearchResults()" aria-label="Search">
               </form>
               <ul id="searchResults"class=" rounded-bottom-3 p-0 visually-hidden-focusable position-absolute top-0 start-0 bg-light z-3  border border-warning SearchResults mt-5 " >
               </ul>
             </div>
           </div>
         </div>
       </nav>
       
       
      <!--MyOrder Items -->
      <div class="mains mt-3" style="background-color: none;">
         <div class="container-md ">
            <div class="my-4">
               <h2 style="font-family: 'Montserrat', sans-serif;" class="d-inline mb-2  bg-danger p-2 text-light rounded-bottom-3  m-lg-5">My Orders</h2>
            </div>
            <div class="row pt-3">
                  {% for product in productD reversed %}
                     <div class="mx-auto s3 offset-lg-1 col-lg-10 col-12 row d-flex align-items-center justify-content-between border mb-4 position-relative shadow-lg bg-light p-0">
                        <div class="col-md-3 col-6 p-2 d-flex align-items-center justify-content-center">
                           <img src="{{product.image}}" class="ms-2 rounded-circle  border-danger " style="width: 150px; border: solid 1px red; height: 150px; border-style: dashed ;" alt="">
                        </div>
                        <div class="col-md-4 col-6 mt-2">
                           <div class="s1 d-flex m-0 p-0">
                              <p class="me-1 m-0 p-0 osuc">siparis no : </p>
                              <u class="m-0 ps-1 d-inline osuc">{{product.order_number}}</u>
                           </div>
                           <div>
                              <small class="m-0 p-0 osuc"> {{product.created}}</small>
                           </div>
                        </div>
                        <div class="s1 col-md-3 col-12 d-flex align-items-center justify-content-center">
                           <i class="bi bi-check2-circle text-success fs-2 ps-3"></i>
                           <p class="mt-3 ms-1 pe-3 text-success osuc">Siparis Tamamlandi</p>
                        </div>
                        
                        <div class="accordion " id="accordionExample border-0">
                           <div class="position-relative">
                               <button class="icon-button position-absolute bottom-0 end-0 rounded-circle border shadow mb-1 button-n" onclick="toggleAccordion('{{ product.id }}')">
                                   <i id="icon-{{ product.id }}" class="bi bi-caret-down-fill fs-4 p-2 text-danger"></i>
                               </button>
                           </div>
                           <div class="accordion-item mb-2 border-0 ">
                               <div id="{{ product.id }}" class="accordion-body bg-light" style="height: 0px;display: none;">
                                   <div class="row border-top osuc">
                                       <div class="col-6 mt-4 osuc">
                                          <!-- {{product.payName}},{{product.payEmail}}, -->
                                          <div class="osuc">
                                             <h5 class="text-start mt-3">Kisi Bilgileri</h5>
                                             <div class="text-start ps-2 osuc">{{product.payName}}</div>
                                             <div class="text-start ps-2 mt-2 osuc">{{product.payEmail}}</div>
                                             <hr class=" text-dark bg-secondary mx-2">
                                          </div>
                                          <div class="osuc">
                                             <h5 class=" text-start ">Adres Bilgileri</h5>
                                             <div class="text-start ps-2 osuc">{{product.payAddress}}</div>
                                             
                                          </div>
                                          
                                       </div>
                                       <div class="col-6 mt-4 ">
                                          <h5 class="text-start mt-2">Odeme Bilgileri</h5>
                                          <div class="rounded">
                                          <div class="text-start   fs-5 d-flex ps-2 justify-content-center py-2">
                                                <div class="d-inline d-flex border justify-content-center p-2 rounded-3">
                                                   {% for chunk in product.chunks %}
                                                      <li class="me-2">{{ chunk }}</li>
                                                   {% endfor %}
                                                </div>
                                          </div>
                                          <div class=" my-2 pb-1">
                                             <div class="row m-0 d-flex justify-content-between text-start mt-2  mx-3">
                                                <div class="col text-start open-sans-unique-class">Urun Fiyati</div>
                                                <div class="col">{{product.price}}TL</div>
                                             </div>
                                             <div class="row d-flex justify-content-between text-start mt-2  mx-3">
                                                <div class="col">Kargo Fiyati</div>
                                                <div class="col">{{product.deliveryPrice}}</div>
                                             </div>
                                             <div class="row d-flex justify-content-between text-start ps-2  ">
                                                <div class="col-12 fs-4 text-start">+</div>
                                                <div class="col-12 ">
                                                   <hr class="bg-dark border border-light m-0 p-0 mx-3 pt-1">
                                                </div>
                                             </div>
                                             <div class="row d-flex justify-content-between text-start mt-2 ps-2 mx-3">
                                                <div class="col">Kargo Fiyati</div>
                                                <div class="col">{{product.total}}TL</div>
                                             </div>
                                          
                                          </div>
                                       </div>
                                    </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                     </div> 
                  {% endfor %}
            </div>
         </div>
      </div>
      
      {% endblock %}